@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
    .container {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
.container1 {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px 0 -15px;
}
.flex-item-1 {
    width: 8.3%;
    flex: 0 0 auto;
    padding: 0 15px 0 15px;
}
.flex-item-2 {
    width: 16.6%;
    flex: 0 0 auto;
    padding: 0 15px 0 15px;
}
.flex-item-3 {
    width: 25%;
    flex: 0 0 auto;
    padding: 0 15px 0 15px;
}
.flex-item-4 {
    width: 33.3%;
    flex: 0 0 auto;
    padding: 0 15px 0 15px;
}
.flex-item-5 {
    width: 41.6%;
    flex: 0 0 auto;
    padding: 0 15px 0 15px;
}
.flex-item-6 {
    width: 50%;
    flex: 0 0 auto;
    padding: 0 15px 0 15px;
}
.flex-item-7 {
    width: 58.3%;
    flex: 0 0 auto;
    padding: 0 15px 0 15px;
}
.flex-item-8 {
    width: 66.6%;
    flex: 0 0 auto;
    padding: 0 15px 0 15px;
}
.flex-item-9 {
    width: 75%;
    flex: 0 0 auto;
    padding: 0 15px 0 15px;
}
.flex-item-10 {
    width: 83.3%;
    flex: 0 0 auto;
    padding: 0 15px 0 15px;
}
.flex-item-11 {
    width: 91.6%;
    flex: 0 0 auto;
    padding: 0 15px 0 15px;
}
.flex-item-12 {
    width: 100%;
    flex: 0 0 auto;
    padding: 0 15px 0 15px;
}
/* reset css */

a{
    text-decoration: none;
}
button{
    border: none;
    outline: none;
}
.align-content{
    align-items: center;
}
.justify-content{
    justify-content: center;
}
.space-content{
    justify-content: space-between;
}
.even{
    justify-content: space-around;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
button{
    cursor: pointer;
}
/* header section start */
.header{
    margin-top: 7%;
}
.class-dtl{
    margin-top: 1%;
    text-align: center;
}
.page-btn{
    margin-top: 1%;
}
.page-btn button{
    padding: 1rem;
    border: 1px solid #0000004d;
    color: #000000a6;
    font-size: 18px;
    background-color: white;
    border-radius: 33px;
}
.class-headding {
    margin-top: 3%;
}
.class-headding h1 {
    font-size: 3.2rem;
    color: #000000c9;
    line-height: 1.2;
}
.class-headding h1 span {
    background: linear-gradient(to right, #7b27c8 ,#fb0182);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.class-para{
    margin-top: 1%;
}
.class-para p {
    color: #00000073;
    line-height: 1.4;
    font-size: 1.1em;
    font-weight: 500;
}
.class-dt h3 {
    margin-top: 4%;
    font-size: 24px;
    font-weight: 600;
}
.class-dt h3 span {
    color: #000000cf;
    font-weight: 300;
}
.enrl-btn {
    margin-top: 5%;
    text-align: center;
}
.enrl-btn button {
    padding: 1.5% 10%;
    line-height: 1.5;
    border-radius: 14px;
    color: white;
    background: linear-gradient(to right, #f84337 , #fd346e);
}
.enrl-btn span:first-child {
    font-weight: bold;
    font-size: 1.7rem;
}
.enrl-btn span:nth-last-child(1) {
    font-size: 14px;
}
.dtl-box{
    margin-top: 12%;
}
.class-timing-dtl{
    width: 48%;
    background-color: #e7f9e7;
    text-align: center;
    padding: 18px;
    border-radius: 12px;
}

.class-timing-dtl h2 {
    font-size: 2rem;
}
.class-timing-dtl p {
    font-size: 15px;
    line-height: 1.5;
    font-weight: 600;
    color: #000000bf;
    margin-top: 2%;
}
.project-dtl{
    width: 48%;
    background-color: #eff2ff;
    text-align: center;
    padding: 18px;
    border-radius: 12px;    
}
.project-dtl h2 {
    font-size: 1.7rem;
}
.project-dtl p {
    font-size: 15px;
    line-height: 1.5;
    font-weight: 600;
    color: #000000bf;
    margin-top: 2%;
}
.class-doubts-dtl{
    margin-top: 4%;
    width: 48%;
    background-color: #fde7ea;
    text-align: center;
    padding: 18px;
    border-radius: 12px;    
}
.class-doubts-dtl h2 {
    font-size: 2rem;
}
.class-doubts-dtl p {
    font-size: 15px;
    line-height: 1.5;
    font-weight: 600;
    color: #000000bf;
    margin-top: 2%;
}
.project-certificate{
    margin-top: 4%;
    width: 48%;
    background-color: #e7f3ff;
    text-align: center;
    padding: 18px;
    border-radius: 12px;    
}
.project-certificate h2 {
    font-size: 2rem;
}
.project-certificate p {
    font-size: 15px;
    line-height: 1.5;
    font-weight: 600;
    color: #000000bf;
    margin-top: 2%;
}
.wts-inside{
    margin-top: 8%;
    text-align: center;
}
.wts-inside h1 {
    font-size: 2.5rem;
    font-weight: 700;
}
.wts-inside p {
    margin-top: 0.8%;
    font-size: 1.1rem;
    color: #000000db;
}
.day-of-course{
    margin-top: 6%;
}
.day-1-cls{
    width:48%;
    border-radius: 12px; 
    background-color: #f5eed3;
}

.day-dtl{
    padding: 18px;
}
.cls-topic{
    margin-left: 9%;
    line-height: 1.4;
    margin-top: 3%;
}
.cls-topic li{
    color: #000000f0;
    font-size: 16px;
}
ul.cls-topic li:nth-last-child(1) {
    font-weight: bold;
}
.day-dtl ~ p {
    padding: 18px;
    background-color: #fdf0b9;
    border-radius: 0 0 12px 12px;
}
.day-2-cls{
    width:48%;
    border-radius: 12px; 
    background-color: #e7f9e7;
}
.day-2-cls .day-dtl ~ p {
    padding: 18px;
    background-color: #bfe6dc;
    border-radius: 0 0 12px 12px;
}
.student-love{
    text-align: center;
    margin-top: 7%;
}
.student-love h1 {
    font-size: 2.5rem;
    font-weight: bold;
}
.student-love p {
    margin-top: 1%;
    font-size: 1.2em;
    color: #000000a3;
}
.student-review{
    margin-top: 4%;
}
.review-dtl{
    margin-bottom: 2%;
    border:1px solid gray;
    padding:16px;
    width:40%;
    border-radius:12px;
}
.review-user{
    display: flex;
}
.review-std{
    display:flex ;
}
.review-std img{
    border-radius: 50%;
}
.twit  {
    color: #1d9bf0;
    font-size: 2rem;
}
.user-cmt {
    line-height: 1.4;
    margin-left: 1%;
}
.user-cmt h3 {
    font-size: 1rem;
}
.user-cmt p {
    color: gray;
    font-size: 14px;
}
.user-cmt p a{
    color:#1d9bf0 ;
    font-weight: bold;
}
.cmt-input{
    margin: 2% 0;
}
.cmt-input p a{
    color:#1d9bf0 ; 
}
.cmt-input p {
    font-size: 1.1rem;
}
.cmt-time {
    display: flex;
    margin-bottom: 3%;
    padding-bottom: 3%;
    border-bottom: 1px solid #8080808c;
}

.cmt-time p {
    color: gray;
    font-size: 14px;
}
.user-react span {
    color: #000000d9;
    padding-right: 3%;
    font-size: 16px;
}
i.fa.fa-heart {
    color: #f91880;
}
i.fa.fa-comment {
    color: #1d9bf0;
}
i.fa.fa-upload {
    color: #60707c;
}
    .read-more-btn button {
        width: 100%;
        color: #006fd6;
        font-weight: bold;
        border: 1px solid #808080a1;
        padding: 7px 0;
        border-radius: 16px;
        background-color: white;
    }
    .read-more-btn {
        margin-top: 4%;
    }
.mentor-head{
    margin-top:6%;
    text-align: center;
}
.mentor-head h1 {
    font-size: 2.6rem;
}
.mentor-img{
    margin-top: 3%;
    text-align: center;
}
.mentor-img img{
    border-radius:50%;
}
.mentor-name{
    margin-top: 1%;
    text-align: center;
}
.mentor-dtls{
    margin-top: 2%;
    text-align: center;
}
.mentor-dtls p {
    color: #000000bf;
    font-size: 1.2rem;
    line-height: 1.4;
}
.clas-start-head{
    text-align: center;
    margin-top: 7%;
}
.clas-start-head h1 {
    font-weight: bold;
    font-size: 2.7rem;
}
.class-start-dtl{
    text-align: center;
    margin-top: 4%;
}
.class-start-inpt {
    padding: 0 5.3%;
}
.class-start-inpt h1 {
    font-size: 3.7rem;
}
.class-start-inpt h1 {
    font-size: 3.7rem;
    margin-bottom: 10px;
}
.footer{
    position: relative;
    line-height: 2;
    text-align: center;
    padding: 20px;
    margin-top: 5%;
    background-color: #80808030;
}
.footer a {
    font-weight: bold;
    text-decoration: underline;
    color: #000000c7;
    font-size: 14px;
}
.footer p {
    font-weight: 500;
    font-size: 14px;
    color: #0000008f;
}
.whatsapp-connect {
    position: absolute;
    right: 2%;
    font-size: 3rem;
    bottom: 0;
    color: green;
}  

@media (min-width:992px) and (max-width:1199px){

}
@media (min-width:768px) and (max-width:991px){
    .container{
        width: 100%;
    }
    .container1{
        width: 100%;
    }
    .page-btn button{
        padding: 12px;
        font-size: 12px;
    }
    .class-headding h1{
        font-size: 2.1rem;
    }
    .class-para p{
        font-size: 14px;
    }
    .enrl-btn button{
        padding: 14px;
    }
    .enrl-btn span:first-child{
        font-size: 14px;
    }
    .enrl-btn span:nth-last-child(1) {
        font-size: 12px;
    }
    .class-timing-dtl h2 {
        font-size: 1rem;
    }
    .class-timing-dtl p{
        font-size: 12px;
    }
    .class-timing-dtl{
        width: 100%;
    }
    .project-dtl {
        width: 100%;
        margin-top: 3%;
    }
    .project-dtl h2 {
        font-size: 1rem;
    }
    .project-dtl p{
        font-size: 12px;
    }
    .class-doubts-dtl {
        margin-top: 3%;
        width: 100%;
    }
    .class-doubts-dtl h2 {
        font-size: 1rem;
    }
    .class-doubts-dtl p{
        font-size: 12px;
    }
    .project-certificate {
        margin-top: 3%;
        width: 100%;
    }
    .project-certificate h2 {
        font-size: 1rem;
    }
    .project-certificate p {
        font-size: 12px;
    }
    .wts-inside h1 {
        font-size: 2rem;
    }
    .wts-inside p {
        font-size: 14px;
    }
    .day-dtl {
        padding: 14px;
    }
    .day-dtl h3 {
        font-size: 14px;
    }
    ul.cls-topic li:nth-last-child(1) {
        font-size: 12px;
    }
    .day-dtl ~ p{
        font-size: 14px;
    }
    .student-love h1 {
        font-size: 1.5rem;
    }
    .student-love p {
        font-size: 1em;
    }
    .review-std img {
        width: 14%;
    }
    .user-cmt h3 {
        font-size: 14px;
    }
    .user-cmt p {
        font-size: 12px;
    }
    .cmt-input p {
        font-size: 12px;
    }
    .cmt-time p {
        font-size: 12px;
    }
    .user-react span {
        font-size: 12px;
    }
    .read-more-btn button {
        font-size: 12px;
    }
    .even {
        justify-content: space-evenly;
    }
    .mentor-head h1 {
        font-size: 2rem;
    }
    .mentor-name h1 {
        font-size: 1.3rem;
    }
    .mentor-dtls p {
        font-size: 14px;
    }
    .clas-start-head h1 {
        font-size: 2rem;
    }
    .class-start-inpt h1 {
        font-size: 1.5rem;
    }
    .class-start-inpt p {
        font-size: 12px;
    }
    .class-start-inpt {
        padding: 0 5.5%;
    }
    .footer a {
        font-size: 12px;
    }
    .footer p {
        font-size: 12px;
    }
    .whatsapp-connect {
        right: 3%;
        font-size: 2rem;
        bottom: 16%;
    }
}
@media (max-width:767px){
    .container{
        width: 100%;
    }
    .page-btn button {
        padding: 1px 8px;
        border: 1px solid #0000004d;
        color: #000000a6;
        font-size: 14px;
        background-color: white;
        border-radius: 33px;
    }
    .class-headding h1{
        font-size: 14px;
    }
    .class-para p{
        font-size: 8px;
    }
    .class-dt h3{
        font-size: 12px;
    }
    .enrl-btn button{
        padding: 6px 16px;
    }
    .enrl-btn span:first-child{
        font-size: 14px;
    }
    .enrl-btn span:nth-last-child(1){
        font-size: 12px;
    }
    .class-timing-dtl{
        width: 100%;
    }
    .project-dtl{
        margin-top: 6%;
        width: 100%;
    }
    .class-timing-dtl h2 {
        font-size: 1rem;
    }
    .class-timing-dtl p {
        font-size: 12px;
    }
    .class-doubts-dtl{
        width: 100%;
    }
    .project-certificate{
        width: 100%;
    }
    .project-dtl h2 {
        font-size: 1rem;
    }
    .project-dtl p{
        font-size:12px;
    }
    .class-doubts-dtl h2 {
        font-size: 1rem;
    }
    .class-doubts-dtl p{
        font-size: 12px;
    }
    .project-certificate h2 {
        font-size: 1rem;
    }
    .project-certificate p{
        font-size: 12px;
    }
    .wts-inside h1{
        font-size: 1rem;
    }
    .wts-inside p{
        font-size: 12px;
    }
    .cls-topic li{
        font-size: 12px;
    }
    .day-dtl h3 {
        font-size: 14px;
    }
    .day-dtl ~ p{
        font-size: 12px;
    }
    .day-1-cls{
        width: 100%;
    }
    .day-2-cls{
        margin-top: 6%;
        width: 100%;
    }
    .student-love h1{
        font-size: 1rem;
    }
    .student-love p{
        font-size: 12px;
    }
    .container1{
        width: 100%;
    }
    .review-dtl{
        width: 90%;
    }
    .user-cmt h3 {
        font-size: 14px;
    }
    .user-cmt p{
        font-size: 12px;
    }
    .twit {
        font-size: 1.5rem;
    }
    .cmt-input p {
        font-size: 12px;
    }
    .cmt-time p {
        font-size: 12px;
    }
    .user-react span {
        font-size: 12px;
    }
    .read-more-btn button{
        font-size: 12px;
    }
    .mentor-head h1 {
        font-size: 1rem;
    }
    .mentor-name {
        font-size: 12px;
    }
    .mentor-dtls p{
        font-size: 12px;
    }
    .clas-start-head h1{
        font-size: 1rem;
    }
    .class-start-inpt h1 {
        font-size: 1rem;
    }
    .class-start-inpt p {
        font-size: 12px;
    }
    .class-start-inpt {
        padding: 0 1%;
    }
    .footer p{
        font-size: 12px;
    }
    .whatsapp-connect {
        font-size: 2rem;
        right: 4%;
    }
}

